<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Appointment Booking</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">




    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../static/style_2.css" rel="stylesheet">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const iframeElement = document.getElementById("myIframe");
            const replaceLinks = document.querySelectorAll(".replaceLink");
        
            replaceLinks.forEach(link => {
                link.addEventListener("click", function(e) {
                    e.preventDefault();
                    const newSrc = this.getAttribute("data-src");
                    iframeElement.src = newSrc;
                });
            });
        });
        </script>

        
</head>

<body>
    
    
    <div class="container-fluid position-relative d-flex p-0">
      


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3" style="height: 1000px;">
            <nav class="navbar bg-secondary_1 navbar-dark">
                <a href="/" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Home</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="../static/user.png" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Manager</h6>
                        <span>Manager@gamil</span>
                    </div>
                </div>
                
                <div class="navbar-nav w-100">
                    <a href="#" class="replaceLink nav-item nav-link " data-src="admin_all"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="#" class="replaceLink nav-item nav-link " data-src="doctor" ><i class="fa fa-laptop me-2"></i>Docters</a>          
                    <a href="#" class="replaceLink nav-item nav-link" data-src="patient" ><i class="fa fa-th me-2"></i>Patients</a>
                    <a href="#" class="replaceLink nav-item nav-link" data-src="appointment"><i class="fa fa-th me-2"></i>Appointment</a>
                    <a href="#" class="replaceLink nav-item nav-link" data-src="new_booking"><i class="fa fa-chart-bar me-2"></i>New Booking</a>
                    <a href="#" class="replaceLink nav-item nav-link" data-src="sessions"><i class="fa fa-keyboard me-2"></i>Session</a>
                    <a href="#" class="replaceLink nav-item nav-link" data-src="today_sessions"><i class="fa fa-table me-2"></i>Today Session</a>
                    <a href="#" class="replaceLink nav-item nav-link" data-src="manager_blood_status"><i class="fa fa-table me-2"></i>blood</a>

            
            
                    <a href="logout" value="logout" class="nav-item nav-link btn  py-3 w-100 mb-4" >logout</a>
                        
        
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary_1 navbar-dark sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item">
                        <a href="chatbot" class="nav-link" >
                            <i class="fa fa-envelope me-lg-2"><img class="rounded-circle" src="../static/images/chat.png" alt="" style="width: 40px; height: 40px;"></i>
                            <span class="d-none d-lg-inline-flex">Message</span>
                        </a>
                        
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fa fa-envelope me-lg-2"><img class="rounded-circle" src="../static/images/pngwing.com.png" alt="" style="width: 40px; height: 40px;"></i>

                            <span class="d-none d-lg-inline-flex">Notificatin</span>
                        </a>
                        
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link">
                            <img class="rounded-circle me-lg-2" src="../static/user.png" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">Admin</span>
                        </a>
                        
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->

            <iframe id="myIframe" src="admin_all" width="1230px" height="537px" frameborder="0" style="margin-left: 50px; margin-top: 20px;" ></iframe>


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary ">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Your Site Name</a>, All Right Reserved. 
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="https://htmlcodex.com">EMINENT BEES</a>
                            <br>Distributed By: <a href="https://themewagon.com" target="_blank">Our Team</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


    
    </div>


</body>

</html>